docs/n8n_assets/sync_workflow.json
[
    {
        "name": "Sync Bills API",
        "nodes": [
            {
                "parameters": {
                    "path": "sync-bills",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "id": "webhook-trigger",
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 1,
                "position": [
                    460,
                    240
                ],
                "webhookId": "sync-bills"
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT * FROM pending_bills WHERE status = 'new';"
                },
                "id": "sqlite-select",
                "name": "SQLite Select",
                "type": "n8n-nodes-base.sqlite",
                "typeVersion": 1,
                "position": [
                    680,
                    240
                ],
                "credentials": {
                    "sqlite": {
                        "id": "your-sqlite-creds-id",
                        "name": "Local Bill DB"
                    }
                }
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "UPDATE pending_bills SET status = 'synced' WHERE status = 'new';"
                },
                "id": "sqlite-update",
                "name": "SQLite Update",
                "type": "n8n-nodes-base.sqlite",
                "typeVersion": 1,
                "position": [
                    900,
                    240
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{$node[\"SQLite Select\"].json}}"
                },
                "id": "users-response",
                "name": "Respond to Webhook",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1,
                "position": [
                    1120,
                    240
                ]
            }
        ],
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "SQLite Select",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "SQLite Select": {
                "main": [
                    [
                        {
                            "node": "SQLite Update",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "SQLite Update": {
                "main": [
                    [
                        {
                            "node": "Respond to Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        }
    }
]